{% extends "base.html" %}
{% load books_tags %}

{% block title %}{{ unit.title }}{% endblock %}

{% block content %}
    <div class="main">
        <div class="general-info">
            <img src="{{ book.image.url }}" alt="{{ book.title }} style="width="150px">
            <p>{{ book.title }}</p>
            <p>{{ book.author }}</p>
            <img src="{{ unit.image.url }}" alt="{{ unit.title }} style="width="125px"">
            <p>Unit {{ unit.unit_order }} - {{ unit.title }}</p>
            <p>In unit: {{ unit.description }}</p>
            {% with total_likes=unit.users_like.count users_like=unit.users_like.all %}
            <div class="unit-info">
                <div>
                <span class="count">
                <span class="total">{{ total_likes }}</span>
                like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ unit.pk }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
                 {% endwith %}
                </div>
            </div>
        <div class="reviews">
            <h2>Тут будет слайдер среди самых популярных отзывов</h2>
            {% for review in reviews %}
                <div class="review">
                    <p>Тут аватарка будет, {{ review.author.username }}</p>
                    <p>{{ review.body|markdown }}</p>
                    <p>Updated: {{ review.updated }}</p>
                </div>
            {% empty %}
                <p>No reviews</p>
            {% endfor %}
        </div>
        <div class="user-review">
            {% if user_review %}
                <div class="user-review">
                    <h4>Your preview</h4>
                    <p>{{ user_review.body|markdown|truncatewords_html:5 }}
                    <a href="{{ user_review.get_absolute_url }}">read</a> </p>
                </div>
            {% else %}
            <a href="{% url "books:create_review" unit.pk %}">
                <p>You can write a review</p>
            </a>
            {% endif %}
        </div>
        <div class="review_list">
            <h2>Тут просто кто что написал и ссылка, чтобы прочитать</h2>
            {% for review in reviews %}
                <div class="review">
                    <p>Тут аватарка будет, {{ review.author.username }}</p>
                    <a href="{{ review.get_absolute_url }}">
                        <p>{{ review.body|markdown|truncatewords_html:7 }}</p>
                    </a>
                    <p>Updated: {{ review.updated }}</p>
                </div>
            {% empty %}
                <p>No reviews</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block domready %}
        const url = '{% url "books:unit_like" %}';
        var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', function(e){
    e.preventDefault();
    var likeButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
        var previousAction = likeButton.dataset.action;

        // toggle button text and data-action
        var action = previousAction === 'like' ? 'unlike' : 'like';
        likeButton.dataset.action = action;
        likeButton.innerHTML = action;

        // update like count
        var likeCount = document.querySelector('span.count .total');
        var totalLikes = parseInt(likeCount.innerHTML);
        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
      }
    })
  });
{% endblock %}
